/target
/lib
/classes
/checkouts
pom.xml
dev-config.edn
test-config.edn
*.jar
*.class
/.lein-*
profiles.clj
/.env
.nrepl-port
/.clj-kondo/.cache/
/.lsp/.cache/
/.calva/output-window/

/node_modules
/log

# Additional ignores
.clj-kondo
.tmp.driveupload
Design/scratchpad.txt

# Vim swap files
.*.sw[a-p]
.*.s[st][a-z]
.*.s[uv][a-z]

# macOS
.DS_Store

# Manual backup copies
*\ copy.*
*_bkp
*_bkp*
*_claude
*.clj.datomic


