{:postgresql
	{:databases "SELECT datname FROM pg_database WHERE datistemplate = false"
        :schemas "SELECT schema_name FROM information_schema.schemata where schema_name not in ('pg_toast', 'pg_catalog' ,'information_schema')"
 	:tables "SELECT table_name
                   FROM information_schema.tables
                  WHERE table_schema = ?
                    AND table_type = 'BASE TABLE'"
        :columns "SELECT 
    c.column_name,
    CASE 
        WHEN c.data_type = 'character varying' THEN 'varchar'
        WHEN c.data_type = 'timestamp without time zone' THEN 'datetime'
        WHEN c.data_type = 'date' THEN 'date'
        ELSE c.data_type
    END AS data_type,
    c.is_nullable,
    c.character_maximum_length,
    c.numeric_precision,	
    c.numeric_scale,
    CASE 
        WHEN kcu.column_name IS NOT NULL THEN 'YES'
        ELSE 'NO'
    END AS is_primary_key,
    '' as exp,
    '' as tfm,
    '' as agg,
    '' as excluded
FROM 
    information_schema.columns c
LEFT JOIN 
    information_schema.key_column_usage kcu
    ON c.table_name = kcu.table_name
    AND c.column_name = kcu.column_name
    AND c.table_schema = kcu.table_schema
    AND kcu.constraint_name IN (
        SELECT constraint_name
        FROM information_schema.table_constraints
        WHERE constraint_type = 'PRIMARY KEY'
          AND table_schema = c.table_schema
          AND table_name = c.table_name
    )
WHERE 
    c.table_schema = ?
    AND c.table_name = ?"
        }
 :mysql
  	{:databases ""
        :schemas ""
 	:tables ""
        :columns ""
        }
}
