  <style>
    .first-div {
      width: 30%; /* Set the width as needed */
      float: left; /* Float the first div to the left */
    }

    .second-div {
      width: 70%; /* Set the width as needed */
      float: right; /* Float the second div to the right */
    }

    .partcontainer {
      width: 20%; /* Set the width as needed */
    }
  </style>
<div id=selectcolumn >
	<label for="name">Column</label>
      	<select name=join{{forloop.counter}}_1 >
		{% for col in j1Columns %}
        	<option value="{{col}}" {% ifequal join|first col %}selected{% endifequal %} >{{col}}</option>
		{% endfor %}
      	</select>
</div>
<div id=string >
	<label for="name">String</label>
	<input type="text" id="name" name="name" />
</div>
<div>

<script src="https://unpkg.com/htmx.org@1.5.0/dist/htmx.js"></script>
<form id="addfilter" hx-post="/saveFunction" hx-trigger="click from:#submitbutton" hx-swap=none  >

<label>Calculated Column Name</label>
			<input type="text" id="calcname" name="calcname" />
</div>
<div>
 <label for="sqlFunctions">Select SQL Function:</label>
  <select id="sqlFunctions" name=function hx-get="/getFunction" hx-trigger="change" hx-target="#columndetails" hx-swap="innerHTML" >
    <option value="">Select</option>
    <option value="AVG">AVG</option>
    <option value="COUNT">COUNT</option>
    <option value="MAX">MAX</option>
    <option value="MIN">MIN</option>
    <option value="SUM">SUM</option>
    <option value="ROUND">ROUND</option>
    <option value="CONCAT">CONCAT</option>
    <option value="SUBSTRING">SUBSTRING</option>
    <option value="UPPER">UPPER</option>
    <option value="LOWER">LOWER</option>
    <option value="LEFT">LEFT</option>
    <option value="RIGHT">RIGHT</option>
    <option value="LTRIM">LTRIM</option>
    <option value="RTRIM">RTRIM</option>
    <option value="LEN">LEN</option>
    <option value="CHARINDEX">CHARINDEX</option>
    <option value="REPLACE">REPLACE</option>
    <option value="COALESCE">COALESCE</option>
    <option value="ISNULL">ISNULL</option>
    <option value="NULLIF">NULLIF</option>
  </select>
</div>
<div id=columndetails>
	<div class=partcontainer>
		<div id=part>
			<div class=first-div>
  				<div>
    					<input type="radio" id="string" onclick="replaceFunction(this,'string');" name="partType1" value="string" checked />
    					<label for="string">String</label>
  				</div>
  				<div>
    					<input type="radio" id="column" onclick="replaceFunction(this, 'selectcolumn');" name="partType1" value="Column" />
    					<label for="column">Column</label>
  				</div>
			</div>
			<div class=second-div id=functionPart>
				<label for="name">String</label>
				<input type="text" id="name" name="name" />
			</div>
			<div>
				<input type=button id=deletePart value="Delete Part" onclick="deleteRow(this)" >
			</div>
		</div>
	</div>
	<div  class=first-div >
		<input type=button id=addPart value="Add Part" onclick="addNewDiv()" >
	</div>
</div>
<div  class=first-div >
<input type=button id=submitbutton value="Save Column" onclick="" >
</div>
</form>
~     
<script>
      var existingDiv = document.querySelector('#part');
      var radioCount = 1;
      var sc = document.getElementById('selectcolumn');
      sc.style.display = 'none'
      var s = document.getElementById('string');
      s.style.display = 'none'

 	function findNearestParentWithId(element, parentId) {
      		var parentElement = element.parentElement;

      		while (parentElement) {
        		if (parentElement.id === parentId) {
          			return parentElement;
        		}
        		parentElement = parentElement.parentElement;
      		}		

      		return null; // If no parent with the specified ID is found
    	}

	function replaceFunction(e,id) {

		var p = findNearestParentWithId(e,"part");
      		var partDiv = document.querySelector('#' + id);
      		var newPartDiv = partDiv.cloneNode(true);
		var children = p.children;
		for (var i = 0; i < children.length; i++) {
      			var childNode = children[i];
			if (childNode.id == "functionPart") {
			        childNode.innerHTML = newPartDiv.innerHTML;	
			}

    		}
		
	}

    function addNewDiv() {
      var newDiv = existingDiv.cloneNode(true);
      // Clone the existing div
      radioCount++;
      var radioParent = newDiv.children[0].children;
                for (var i = 0; i < radioParent.length; i++) {
                        var radioC = radioParent[i].children;
			for (var j = 0; j < radioC.length; j++) {
                        	var childNode = radioC[j];
				if ((childNode.getAttribute('name') != null) && childNode.getAttribute('name').startsWith('partType')) {
                        		childNode.setAttribute('name', 'partType' + radioCount);
				}
			}
                }
      console.log(newDiv.innerHTML);

      // Append the new div to the container
      document.querySelector('.partcontainer').appendChild(newDiv);
    }

    function deleteRow(button) {
      const row = button.parentElement.parentElement;
      const container = document.getElementsByClassName('partcontainer');
      container[0].removeChild(row);
    }

  </script>

