<div class="container">
<table>
<tr>
<td>
  <div>
  <form hx-post="/saveFilter"  hx-trigger="click from:#submitbutton" hx-swap=none >

    <input type=hidden id=id name="id" value="{{id}}" >
    <label for="fname">Filter Name</label>
    <input type="text" id="fname" name="fname" placeholder="" value="{{name}}" >

    <label for="subject">Expression</label>
    <input type="text" id="sql" name="sql" placeholder="" value="{{sql}}">

    <input type="button" id=submitbutton  value="Submit">

  </form>
  </div>
</td>
</tr>
 <tr>
 <td>
  <div class="tab">
  	<button class="tablinks" onclick="openCity(event, 'functions')">Functions</button>
  	<button class="tablinks" onclick="openCity(event, 'columns')">Columns</button>
  	<button class="tablinks" onclick="openCity(event, 'other')">Other</button>
  </div>

	<!-- Tab content -->
	<div id="functions" class="tabcontent">
		<div class="functions">
  			<div class="div1">
    				<select id="datatype" name="datatype">
				      <option value="All">All Functions</option>
				      <option value="String">String</option>
				      <option value="Numeric">Numeric</option>
				      <option value="Datetime">Datetime</option>
				      <option value="Miscellaneous">Miscellaneous</option>
    				</select>
  			</div>
  			<div class="div2">
<!--
    				<input type="text" id="search" name="search" placeholder="">
-->
  
			</div>
		</div>
		<table>
		  <tr>
		    <th>Concat</th>
		  </tr>
		  <tr>
		    <th>Substring</th>
		  </tr>
		  <tr>
		    <th>Replace</th>
		  </tr>
		</table>
	</div>

	<div id="columns" class="tabcontent">
		<div>
			<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a Column Name">
		</div>
		<ul id="myUL">
		{% for col in tcols %}
  			<li><a href="#">{{col}}</a></li>
		{% endfor %}
		</ul>
	</div>

	<div id="other" class="tabcontent">
	</div>
 </td>
 </tr>
 </table>
</div> 
<style>

   .functions {
      display: flex;
      justify-content: space-between;
    }

    .div1, .div2 {
      width: 48%; /* Adjust width as needed */
      border: 1px solid #000; /* Just for visualization */
    }

 /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
} 

.tab {
  display: block;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  //float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  display: block;
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: block;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

</style>
        <link rel="stylesheet" type="text/css" href="/source/styles/smart.default.css" />
        <link rel="stylesheet" type="text/css" href="/source/styles/demos.css" />
        <link rel="stylesheet" type="text/css" href="/source/styles/common.css" />

       <script type="module" src="/source/modules/smart.input.js"></script>
       <script type="module" src="index.js"></script>


<script>
function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
} 
</script>
