<form  hx-post="/saveJoin"  hx-trigger="click from:#submitbutton" hx-swap=none >
<table>
<tr>
<td>
<input type=hidden name=tid value="{{tid}}" />
<input type=text name=tableName value="{{tname}}" />

</td>
</tr>

<tr>Join</tr>
<tr>Join Type</tr>
<tr>
<td>
<label for="joins">Join Type:</label>

<select name="jtype" id="joins">
  <option value="Inner">Inner</option>
  <option value="Outer">Outer</option>
</select>
	 </td>
<td>
<input type="checkbox" id="distinct" name="distinct" value="">
<label for="distinct">Distinct Values</label><br>
</td>
</tr>
<tr>Mappings</tr>
<tr>
<td>
{{j1Tables}}
</td>
<td>
{{j2Tables}}
</td>
</tr>
</table>
<table>
    <!-- Initial row -->
{% for join in jcondition %}
<tr>
    <div class="row">
<td>
      <select name=join{{forloop.counter}}_1 >
{% for col in j1Columns %}
        <option value="{{col}}" {% ifequal join|first col %}selected{% endifequal %} >{{col}}</option>
{% endfor %}
      </select>
</td>
<td>
      <select name=join{{forloop.counter}}_2 >
{% for col in j2Columns %}
        <option value="{{col}}" {% ifequal join|second col %}selected{% endifequal %} >{{col}}</option>
{% endfor %}
      </select>
</td>
<td>
      <button class="delete-btn" onclick="deleteRow(this)">Delete</button>
</td>
    </div>
</tr>
{% endfor %}
<tr>
<td>
    
 <div id="container">
    <!-- Add button to add rows -->
    <button class="add-btn" type=button onclick="addRow()">Add Row</button>
  </div>
</td>
</tr>
<br>
<tr>
<td>
<input type=button id=submitbutton value=Save />
</td>
</tr>


</table>
</form>

<style>
* {
  box-sizing: border-box;
}

</style>

<script>
  var scount = {{jcondition|count}};
  function addRow() {
      scount++;
      const container = document.getElementById('container');
      const newRow = document.createElement('div');
      newRow.className = 'row';

      const select1 = document.createElement('select');
      select1.setAttribute('name', 'join' + scount + "_1");

      select1.innerHTML = `
{% for col in j1Columns %}
        <option value="{{col}}">{{col}}</option>
{% endfor %}
      `;

      const select2 = document.createElement('select');
      select2.setAttribute('name', 'join' + scount + "_2");
      select2.innerHTML = `
{% for col in j2Columns %}
        <option value="{{col}}">{{col}}</option>
{% endfor %}
      `;

      const deleteButton = document.createElement('button');
      deleteButton.className = 'delete-btn';
      deleteButton.textContent = 'Delete';
      deleteButton.onclick = function () {
        deleteRow(this);
      };

      newRow.appendChild(select1);
      newRow.appendChild(select2);
      newRow.appendChild(deleteButton);

      container.insertBefore(newRow, document.querySelector('.add-btn'));
    }

    function deleteRow(button) {
      const row = button.parentElement;
      const container = document.getElementById('container');
      container.removeChild(row);
    }
</script>
